# Eclipse
.project
.classpath
.settings/

# Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath
LOG_HOME_IS_UNDEFINED/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/.flattened-pom.xml

# Gradle
.gradle/
build/

#IDEA
# idea ignore
.idea/
*.ipr
*.iml
*.iws
out

# default output directories
classes/
deploy/
javadoc/
*.class

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.jython_cache/

# system ignore
.DS_Store
Thumbs.db

# Package Files #
*.jar
*.war
*.ear